{% assign lang = site.data.languages[site.language] %}
{% assign nav_class = "site-header__nav" %}
{% if page.layout == 'index' or page.layout == 'about' %}
{% assign nav_class = "site-header__nav-logo" %}
<div class="site-header__logo">
    <img class="logo" src="/assets/images/mario.png">
</div>    
{% endif %}
<div class={{nav_class}}>
    {% for name_path in site.menu %} 
    {% assign name = name_path[0] %} 
    {% assign path = name_path[1] %}
    {% assign icon_name = name | downcase %}
    {% assign item_name = lang.menu[icon_name] %}
    <div class="menu-item">
        <a href="{{ site.root }}{{path}}"><i class="fa fa-fw fa-{{site.menu_icons[icon_name]}}"></i>{{item_name}}</a>
    </div> 
{% endfor %}
</div>

