.page-about{
    padding: 0 40px 0 40px;
    ul{
        margin-top: 0px;
    }
}
.showcase{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    &__row{
        height: 300px;
        flex-grow: 1;
        flex-basis: auto;
        
        display: flex;
        flex-direction: row;
    }
}
.showcase-item{
    padding: 20px;
    flex: 1 1 auto;
    // border: 0.5px solid $grey-light;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    p{
        margin-top:12px;
    }
}