.page-home{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // margin-top: 40px;
    // padding: 20px 40px;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    hr {            
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: solid 1px $grey-dark;
        width: 300px;
    } 
}