<h1 style="text-align: center; font-size: 32px; font-weight: 400; margin-bottom: 20px">{{page.title}}</h1>
<h1 style="text-align: center; font-size: 32px; font-weight: 400; color: #666; line-height: 1.25;">{{page.sub_title}}</h1>
<h3 style="text-align: center; font-weight:400; font-size: 19px; margin-bottom: 30px; margin-top: 30px; line-height: 1.25">Tao Xu / {{ page.date | date: "%Y-%m-%d" }}</p>
<hr style="max-width: 300px; height:2px; margin-top: 20px; margin-bottom: 80px; border: 0; border-bottom: 1px solid #ccc;"/>

