<div class="wrapper">
    <div class="site-header__logo">
        <a href="{{ site.root }}" class="site-logo" rel="start">
            <span class="site-title">{{ site.title }}</span>
        </a>
    </div>
</div>
<nav class="site-nav">
    <ul class="site-menu">
        {% for name_path in site.menu %} {% assign name = name_path[0] %} {% assign path = name_path[1] %} {% assign itemName = name
        | downcase %}
        <li class="site-menu__item site-menu__item--{{ itemName }}">
            <a href="{{ path | relative_url }}" rel="section">
                {% if site.menu_icons.enable %}
                <i class="site-menu__item__icon fa fa-fw fa-{{site.menu_icons[itemName] | default: 'question-circle' | downcase }}"></i>
                <br /> {% endif %} {{ name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>