<h1 class="page-home__main__title"> Visionary Lab </h1>
{% assign posts = site.posts %}
{% assign year = 0 %}
<section class="page-home__main">
    <ul>
    {% for post in posts %}
        {% assign post_year = post.date | date: "%Y" %}
        {% if post_year != year %}
            {% assign year = post_year %}
            <h2 style="text-align: center">{{post_year}}</h2>
        {%endif%}
        <li>{% include _partials/components/date.html %}<a href="{{post.url}}">{{post.list_title}}</a></li>
    {% endfor %}
    </ul>
</section>