.site-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    max-width: $content-desktop;
    margin-left: auto;
    margin-right: auto;

    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 20px;
    }
}