.site-header{
    flex-basis: 160px;
    flex-shrink: 0;
    display: flex;    
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border-right: 2px solid $grey-dark;
    padding: 0 12px;
    
    &__logo{
        margin: 0 0 60px 0px;   
        text-align: right;
    }
    &__nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 84px 20px;
    }
}