.site-header{
    background-color:$gray-lighter;
    height: $header_height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    &__logo{
        display: flex;
    }
    
    &__nav{
        display: flex;
    }
}