.site-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    max-width: $content-desktop;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    &__content{
        display: flex;
        flex-direction: row;
    }
    &__header{

    }
    &__footer{
        display: flex;
        justify-content: center;
    }
    // &--narrow {
    //     max-width: 470px;
    // }
}