.site-header{
    display: flex;    
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 16px 20px;
    &__logo{
        margin: 30px 0px;   
        text-align: right;
    }
    &__nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
}