.wrapper {
    width: $content_width;
    background-color: white;
    padding: 20px 0;
    .wrapper__content{
        display: flex;
        flex-direction: row;
    }
    .wrapper__footer{
        display: flex;
        justify-content: center;

    }
}
