<!DOCTYPE html> 
{% include _blocks/page_class.html %} 
{% include _blocks/sidebar.html %}
<html lang="{{ site.language }}">
<head>
    {% include _partials/head.html %}
    <title>{{page.title}}</title>
</head>
<body itemscope itemtype="http://schema.org/WebPage"  lang="{{ page.lang | default: page.language | default: site.language }}">
    {% assign lang = site.data.languages[site.language] %}
    <div id="container" class="site-container">
        <div class="wrapper">
            <div class="wrapper__content">
                <header itemscope itemtype="http://schema.org/WPHeader">
                    {% include _partials/header.html %}
                </header>
                <main id="main" class="site-main">
                    {{content}}
                </main>
            </div>
            <div class="wrapper__footer">
                <footer id="footer" class="site-footer">
                    {% include _partials/footer.html %}
                </footer>
            </div>
        </div>
    </div>

    <!-- third party -->
    {% include _third-party/prism.html %} {% include _third-party/mathjax.html %}

</body>


</html>