<!DOCTYPE html>
{% include _partials/page_class.html %}
<html>
<head>
    {% include _partials/head.html %}
    <title>{{page.title}}</title>
    <!-- <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post-theme/github2.css"> -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post-theme/clearness.css">
</head>
<body>
    {% include header.html %}
    {{content}}
    {% include footer.html%}
    {% include _third-party/prism.html %}
    {% include _third-party/mathjax.html %}
</body>


</html>