<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post-theme/github2.css">  
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax-highlight/prism.css">     
    <script type="text/javascript" src="{{site.baseurl}}/assets/css/syntax-highlight/prism.js"></script>
    {% include partials/mathjax.html %}
</head>
<body>
    {% include header.html %}
   
    {{content}}

    {% include footer.html%}
 
</body>


</html>